body {
  font-family: arial;
  font-size: 12px;
}

h1 {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#main {
  padding: 10px 0px 10px 0px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 0.9em;
  font-style: italic;
}
